body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
    line-height: 1.8;
}

.background-image {
    background-image: url("images/bg-img.png");
    height: 100vh;
    background-size: cover;
    filter: saturate(1.2);
    filter: contrast(1.1);
    position: relative;
}

h1,
h3 {
    font-family: 'Playfair Display', serif;
}

.container {
    padding: 20px;
}

.img-fluid {
    border-radius: 10px;
}

.sub-head,
.last-ctn {
    margin-top: 20px;
}

.content1 {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
}

.content1 p {
    flex: 1 1 50%;
}

.content2 {
    flex: 1 1 40%;
}

@media (max-width: 768px) {

    .content1 p,
    .content2 {
        flex: 1 1 100%;
    }
}